body {

}


.sidenav {
    margin-right: 50px;
    margin-top: 50px;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: white;
    overflow-x: hidden;
    padding: 8px 0;
  }

  .sidenav a {
    padding: 10px 0px 10px 5px;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    border: 2px solid black;
  }

  h2 {
    padding: 0px 8px 50px 16px;
    position: fixed;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
    
  
  main {
    margin-left: 300px; 
    font-size: 18px; 
    padding: 0px 10px;
    border-color: solid black;
  }